---
import CardTimeline from './CardTimeline.astro'
import { type Employment } from '../interfaces'
interface Props {
	employmentData:Employment[]
}

const { employmentData } = Astro.props;
---

<div class="container-timeline">
	{
		employmentData.map((itemEmploye, index) => 
			<div class={`item-timeline ${index%2==0 ? "rigth" : "left"}`}>
				<div class="company-logo">
					<img src={itemEmploye.companyLogo} width="220px" height="220px"/>
				</div>
				<hr class="hl" style={{width:"13%",marginLeft:`${index%2==0 ? "22%" : "-22%"}`, border: `2.5px solid ${itemEmploye.colorTheme}`}}/>
				<div class="vl" style={{borderLeft: `6px solid ${itemEmploye.colorTheme}`}}></div>
				<CardTimeline
					title={itemEmploye.title}
					subtitle={itemEmploye.subtitle}
					body={itemEmploye.body}
					stackDev={itemEmploye.stackDev}
					proyects={itemEmploye.proyects}
					colorTheme={itemEmploye.colorTheme}
				/>
			</div>
		)
	}
</div>

<style>
	.item-timeline {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.company-logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 45%;
	}
	.vl {
		position: absolute;
		left: 50%;
		height: 453px;
	}

	.hl {
		position: absolute;
		/* left: 50%;
		height: 453px; */
	}


	.container-timeline{
		width: 100%;
	}
	
	.left {
		flex-direction: row-reverse;
	}
	.rigth {
		flex-direction: row;
	}

	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
